{% extends 'base.html' %}
{% block title %}My Home Page{% endblock %}
{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section">
      <img src="/static/img/splash.jpg">
      <div class="text-overlay">
        <!-- Feel free to change this -->
        <h1>Welcome to Vincent Chen's site!</h1>
      </div>
    </div>
  </div>
</div>
<div class="row hero-under-banner">
  <div class="col">
    <div class="container" style="max-width: 800px;">
      <div class="row align-items-center" style="min-height: 40px;">
        <div class="col-sm-4 text-pad">
          Vincent Chen
        </div>
        <div class="col-sm-4 text-pad">
          chenvincent7629@gmail.com
        </div>
        <div class="col-sm-4 text-pad">
          San Jose, CA
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container page-content-container" style="margin-top: 40px;">
  <div class="row">
    <div class="col blurb-section">
      <p>Welcome to my personal site.</p>
      <p>I am a highschool senior and i made this site for fun.</p>
      <p>Please try out the chat function in my site!</p>
    </div>
  </div>
  <div class="row">
    <div class="col section-header">
      Projects
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Project 1 -->
      <div class="container section-content">
        <div class="row">
          <div class="col section-content-header">
            Solar suitcase project
          </div>
        </div>
        <div class="row">
          <div class="col time-span">
            Aug 2019 - Nov 2019
          </div>
        </div>
        <div class="row">
          <div class="col section-content-inner">
            <p>For this project i built a solar suit case</p>
            <p>to help kids in africa charge their phones/learn in the nightime</p>
            <p>Here are some action steps I took</p>
            <ul>
              <li class="main-li">I planned this out</li>
              <li class="sub-li">Step 1: gathered the materials</li>
              <li class="sub-li">Step 2: i built the solar suitcase with a team of 2 friends</li>
              <li class="main-li">I executed this</li>
              <li class="sub-li">Step 3: I contacted a delivery service with my teacher and sent the suitcases to the people in africa</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Project 2 -->
      <div class="container section-content">
        <div class="row">
          <div class="col section-content-header">
            Project 2
          </div>
        </div>
        <div class="row">
          <div class="col time-span">
            Aug 2019 - Jan 2020
          </div>
        </div>
        <div class="row">
          <div class="col section-content-inner">
            <p>Here is what I did for this project</p>
            <p>Here are some action steps I took</p>
            <ul>
              <li class="main-li">I planned this out</li>
              <li class="sub-li">Step 1</li>
              <li class="sub-li">Step 2</li>
              <li class="main-li">I executed this</li>
            </ul>
          </div>
        </div>
      </div><!-- Project 3 -->
      <div class="container section-content">
        <div class="row">
          <div class="col section-content-header">
            Project 3
          </div>
        </div>
        <div class="row">
          <div class="col time-span">
            Sept 2018 - June 2019
          </div>
        </div>
        <div class="row">
          <div class="col section-content-inner">
            <p>Here is what I did for this project</p>
            <p>Here are some action steps I took</p>
            <ul>
              <li class="main-li">I planned this out</li>
              <li class="sub-li">Step 1</li>
              <li class="sub-li">Step 2</li>
              <li class="main-li">I executed this</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="col section-header">
      Interests
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container section-content">
        <div class="row">
          <div class="col-md-4">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front interest-img-holder">
                  <img src="/static/img/interest-1.jpg">
                </div>
                <div class="flip-card-back">
                  <div>
                    <h3>Activity 1</h3>
                    <p>Some stuff about this activity</p>
                    <a href="https://www.reddit.com">Some resource about it</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front interest-img-holder">
                  <img src="/static/img/interest-2.jpg">
                </div>
                <div class="flip-card-back">
                  <div>
                    <h3>Gaming</h3>
                    <p>I like playing online games in my free time</p>
                    <a href="https://www.reddit.com">random link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front interest-img-holder">
                  <img src="/static/img/interest-3.jpg">
                </div>
                <div class="flip-card-back">
                  <div>
                    <h3>Activity 3</h3>
                    <p>Some stuff about this activity</p>
                    <a href="https://www.reddit.com">Some resource about it</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/phoneicon.png">
          <span class="contact-info">XXX-XXX-XXXX</span>
        </div>
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">someone@gmail.com</span>
        </div>
        <div>
          <a href="https://www.linkedin.com">
            <img src="/static/img/contact-icons/linkedin.png">
            <span class="contact-info">linkedin.com/in/someone</span>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@whoiam</span>
          </a>
        </div>
        <div>
          <a href="https://www.facebook.com">
            <img src="/static/img/contact-icons/facebook.png">
            <span class="contact-info">facebook.com/someone</span>
          </a>
        </div>
        <div>
          <a href="https://www.github.com">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/somone</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}